
.header{
  color: #001D6E;
  top: -50%;
  position: relative;
  text-align: center;
}

.buttons{
  position: relative;
  top: -30%;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.btn-primary{
  background-color: #001D6E!Important;
  border:none!Important;
}

.frame{
  position: relative;
  border: 1px solid black;
}

.body{
  background-color: #C4DDFF;
}
.form{
  height: 80vh;
}
.buttonclearimage{
  position: relative;
  left: 6%;
}

.buttontakepicture{
  position: relative;
  left: 5%;
}


.video{
  max-width: 100%;
}

.canvas{
  position: relative;
  top: 5px;
  width: 100%;
}



.mysneakers{
  color: #001D6E;
  position: relative;
  max-width: 20%;
  text-align: center;
  top: 20vh;
  left: 80%;
}